**/lwc/**/*.css hggfytdgcgc 
**/lwc/**/*.htmlfgclgvcgv
**/lwc/**/*.json
**/lwc/**/*.svg
**/lwc/**/*.xml
**/aura/**/*.auradocghgluhgvihviv
**/aura/**/*.cmp
**/aura/**/*.css
**/aura/**/*.design
**/aura/**/*.evt
**/aura/**/*.json
**/aura/**/*.svg fgdkdugd
**/aura/**/*.tokensgfygjfctgblijgjgj
**/aura/**/*.xml
**/aura/**/*.app    fyfydyddt
.sfdx
