**/lwc/**/*.css hggfytdgcgc gfgdfxf v 
**/lwc/**/*.htmlfgclgvcgv. gfgfhigoj
**/lwc/**/*.json. hghg;ougouh
**/lwc/**/*.svg
**/lwc/**/*.xml
**/aura/**/*.auradocghgluhgvihviv
**/aura/**/*.cmp
**/aura/**/*.css
**/aura/**/*.design
**/aura/**/*.evt hgfduggjh 
**/aura/**/*.json
**/aura/**/*.svg
**/aura/**/*.tokensgfygjfct hghggjjg
**/aura/**/*.xml
**/aura/**/*.app uhfyfycc
.sfdx
